.my-footer {
    height: 5em;
    padding: 1em;
    background-color: #3d3d3d;
    color: wheat;
    margin-top: 1em;
}

.room-image {
    max-width: 50%;
}

/* override styles here */
.notie-container {
    box-shadow: none;
}

.datepicker-picker {
    z-index: 10000;
}